:host {
  display: grid;
  grid-auto-rows: 1fr auto;
  height: 100%;
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main-container {
  flex: 1;
}

.form-container {
  display: flex;
  gap: 10px;
  padding-top: 15px;
}

.label {
  display: flex;
  gap: 10px;
}
